.pageheader {
  overflow: hidden;
  padding: .5rem .75rem;
  border-bottom: .0625rem solid #ccc;
  box-sizing: border-box;
  background-color: #f6f6f6;
  display: flex;

  @at-root .switchbutton {
    flex-grow: 1;
  }

  .switchbutton .navlist {
    margin: 0;
    padding: 0;
    list-style: none;

    .navicon {
      position: relative;

      .usericon {
        width: 1.75rem;
        height: 1.75rem;
        vertical-align: top;
        border: 1px solid #eee;
        border-radius: .25rem;
        box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, 0.2);
        background: #ccc;
      }

      &.unread:before {
        content: '';
        border: .1875rem solid $blue;
        position: absolute;
        border-radius: .25rem;
        top: calc(50% - 0.25rem);
        left: 2rem;
      }
    }
  }

  .nav {
    text-align: right;

    .navlist {
      list-style: none;
      margin: 0;
      padding: 0;

      .navicon {
        cursor: pointer;
        display: inline-block;
        margin-left: .75rem;
        position: relative;

        .navbutton {
          background: none;
          border: none;
          outline: none;
          transition: all .2s;
          height: 1.75rem;

          &:hover {
            color: #6ac;
          }

          span::before {
            font-size: .875rem;
            line-height: 1.75rem;
          }
        }

        &.active .navbutton, &.active .navbutton:hover {
          color: #08F;
          cursor: default;
        }

        &.unread:before {
          content: '';
          border: .1875rem solid #5ae;
          position: absolute;
          border-radius: .25rem;
          bottom: -.25rem;
          left: calc(50% - 0.1875rem);
        }
      }
    }
  }
}

.logobutton {
  cursor: default;
}

.unreadmark {
  display: inline-block;
  font-size: .625rem;
  background-color: #39D;
  border-radius: 100%;
  opacity: .85;
  position: relative;
  left: -.25rem;
  top: .25rem;
  height: .75rem;
  width: .75rem;
}

.iconic[data-glyph].iconic-sm.messagereply:before {
  font-size: 1rem;
  color: #777;
  vertical-align: top;
  padding-right: .25rem;
}
