html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: inherit;
  user-select: inherit;
}

a {
  color: #17b;
  text-decoration: none;
}

.js-display-url {
  word-break: break-all;
}

::-webkit-scrollbar {
  width: .625rem;
}

::-webkit-scrollbar-track {
  border-radius: .625rem;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: .625rem;
  background-color: #ccc;
}
