// backward compatibility
@import 'custom';
@import 'animate';

$bg-color: #fff;
$blue: #5ae;

$lighter: #777;

$header-height: 2.8125rem;
$frame-height: calc(100vh - #{$header-height});

.frame {
  position: absolute;
  top: $header-height;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: $frame-height;
  width: 100%;
}

.headernav {
  width: 100%;
  overflow: hidden;
  height: $header-height;
  padding-top: .75rem;
  padding-left: .75rem;
  padding-right: .75rem;
  border-bottom: .0625rem solid #ccc;
  box-sizing: border-box;;
  background-color: #f6f6f6;

  .switchbutton .navlist {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;

    .navicon {
      position: relative;

      .usericon {
        width: 1.75rem;
        height: 1.75rem;
        vertical-align: top;
        border: 1px solid #eee;
        border-radius: .25rem;
        margin-top: -0.25rem;
        box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, 0.2);
        background: #ccc;
      }

      &.unread:before {
        content: '';
        border: .1875rem solid $blue;
        position: absolute;
        border-radius: .25rem;
        top: calc(50% - 0.25rem);
        right: -.75rem;
      }
    }
  }

  .nav {
    float: right;
    height: 1.25rem;

    .navlist {
      list-style: none;
      margin: 0;
      padding: 0;

      .navicon {
        cursor: pointer;
        position: relative;
        float: left;
        margin-left: .75rem;

        .navbutton {
          background: none;
          border: none;
          outline: none;
          transition: all .2s;
          height: 1.25rem;

          &:hover {
            color: #6ac;
          }
        }

        &.active .navbutton, &.active .navbutton:hover {
          color: #08F;
          cursor: default;
        }

        &.unread:before {
          content: '';
          border: .1875rem solid #5ae;
          position: absolute;
          border-radius: .25rem;
          bottom: -.375rem;
          left: calc(50% - 0.1875rem);
        }
      }
    }
  }
}

$switch-transition-time: .2s;

.switches {
  height: $frame-height;
  background-color: rgba(255, 255, 255, 0.9);

  .switchlist {
    margin: 0;
    padding: 0;
    list-style: none;

    .switch {
      padding: .75rem;
      cursor: pointer;
      position: relative;

      &.unread:before {
        content: '';
        border: .1875rem solid #5ae;
        position: absolute;
        border-radius: .25rem;
        top: calc(50% - .1875rem);
        left: .375rem;
      }

      &:hover {
        .text, .icon .iconic[data-glyph].iconic-md:before {
          color: $blue;
        }

        .icon img {
          box-shadow: 0 0 .5rem 0 $blue;
        }
      }

      .icon, .text {
        display: inline-block;
        vertical-align: middle;
      }

      .icon {
        padding: 0 .375rem;
        margin-right: .75rem;

        .iconic[data-glyph].iconic-md:before {
          font-size: 2rem;
          transition: color $switch-transition-time;
        }

        img {
          width: 2rem;
          height: 2rem;
          border: 1px solid #eee;
          border-radius: .25rem;
          box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.2);
          transition: box-shadow $switch-transition-time;
        }
      }

      .text {
        text-transform: uppercase;
        font-size: 1.25rem;
        transition: color $switch-transition-time;
      }
    }
  }
}

ul.timeline {
  background: $bg-color;
}

.profile {
  background: $bg-color;
  min-height: $frame-height;
}

.messagegroup, .thread {
  min-height: $frame-height;
}

.login {
  height: $frame-height;
  background-color: $blue;
  padding: 4rem 0;

  .connect, .error, .result, .verify {
    padding: .75rem;
    text-align: center;
  }

  .connect {
    button {
      background: #fff;
      border: 0;
      border-radius: .25rem;
      padding: .75rem;
      color: $blue;
      box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.2);

      .iconic[data-glyph].iconic-sm:before {
        font-size: 1.25rem;
        margin-right: .5rem;
        vertical-align: middle;
      }
    }
  }

  .error, .result {
    color: #fff;
  }

  .verify {
    padding-top: 4rem;
    backface-visibility: visible !important;

    input, button {
      padding: .75rem;
      background: #fff;
      border: 0;
      box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.2);
    }

    input {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    button {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
      color: $blue;
    }
  }

  .verify-enter {
    -webkit-animation: flipInX .3s;
  }

  .verify-out {
    -webkit-animation: flipOutX .3s;
  }
}
