html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: inherit;
  user-select: inherit;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

a {
  color: #17b;
  text-decoration: none;
}

.promptcontainer {
  height: 100vh;
  width: 100%;
}

.prompt {
  display: block;
  width: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.prompterror {
  background: #c99;
  margin: .75rem 0;
  padding: .75rem;
  color: #fff;
  border-radius: .25rem;
  -webkit-animation: fadeIn .7s;
}

.promptbackground {
  width: 50vh;
  height: 50vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../image/background.png");
  background-size: cover;
  max-width: 1024px;
  max-height: 1024px;
  background-position: 14vh 11vh;
  background-repeat: no-repeat;
}

.promptbutton {
  line-height: 1rem;
  outline: none;
  background: #fff;
  color: #6ac;
  border: none;
  padding: .75rem;
  border-radius: .25rem;
  height: 2.5rem;
}

.signinbutton,
.verifiedbutton {
  width: 100%;
}

.backbutton {
  margin-right: .375rem;
  width: calc(50% - .375rem);
}

.verifybutton {
  width: 50%;
}

.prompticon {
  vertical-align: middle;
}

.pininput {
  width: 100%;
  line-height: 2rem;
  border: 0;
  text-align: center;
  border-radius: .25rem;
  margin-bottom: .75rem;
  outline: none;
}

.loader {
  text-align: center;
  margin-top: .75rem;
  transition: all 1s;
}

.ball-clip-rotate > div {
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  border: 2px solid #000;
  border-bottom-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent !important;
  display: inline-block;
  -webkit-animation: rotate 0.75s 0s linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}

.frame {
  position: absolute;
  top: 2.8125rem;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 2.8125rem);
  width: 100%;
  background-color: #fff;
}

.frame-enter {
  -webkit-animation: slideInLeft .3s;
  border-right: 1px solid #ccf;
}

.frame-leave {
  -webkit-animation: slideOutRight .3s;
  border-left: 1px solid #ccf;
}

.components {
  position: relative;
  overflow: hidden;
}

.timelines .timeline {
  height: calc(100vh - 3rem);
  overflow: auto;
}

.nestcontainer {
  height: calc(100vh - 3rem);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
}

::-webkit-scrollbar {
  width: .625rem;
}

::-webkit-scrollbar-track {
  border-radius: .625rem;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: .625rem;
  background-color: #ccc;
}

.thread {
  height: 100%;
  overflow: auto;
}

.tweets, .thread {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.tweetcontainer {
  -webkit-animation: fadeIn .7s;
}

@-webkit-keyframes compress {
  0% {
    max-height: 1.5rem;
  }

  100% {
    max-height: 0;
  }
}

.gap {
  background-color: #eee;
  text-transform: uppercase;
  font-size: .625rem;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #777;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  overflow: hidden;
}

.gap .iconic::before {
  font-size: .5rem;
  margin-right: .25rem;
}

.gap-leave {
  -webkit-animation: compress .3s;
}

.tweet {
  border-bottom: 1px solid #ddd;
  padding: .75rem;
  overflow: hidden;
  width: 100%;
  font-size: .75rem;
  cursor: default;
}

.fattweet {
  background-color: #fcfcfc;
  padding: .75rem .75rem .5rem .75rem;
}

.tweet:hover .tweetmetaleft {
  width: calc(100% - 7rem);
}

.tweet:hover .tweetmetaright {
  width: 7rem;
}

.tweet:hover .tweettime,
.tweet:hover .tweetindicator {
  display: none;
}

.tweet:hover .tweetactions {
  opacity: 1;
  transition-delay: 0s;
}

.profilemeta {
  overflow: hidden;
  font-size: .75rem;
  border-bottom: .1rem solid #ccc;
  line-height: 1.25rem;
}

.profilecounts > section {
  margin-right: .375rem;
  display: inline-block;
  text-transform: uppercase;
}

.profilecounttag {
  color: #999;
}

.profilebackground {
  width: 100%;
  height: 5rem;
  background-size: cover;
}

.profilemetaright .relationship {
  display: inline-block;
  width: 5rem;
  background-color: #5af;
  border-radius: .25rem;
  text-align: center;
  color: #fff;
  padding: .25rem;
  box-shadow: 0 0 3px #ccc;
  vertical-align: top;
  -webkit-animation: fadeIn .2s;
  cursor: pointer;
}

.profilemetaright .names {
  display: inline-block;
  width: calc(100% - 5rem);
}

.profilemetaright .name {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  display: block;
}

.profilemetaright .screenname {
  color: #777;
  font-size: 0.6875rem;
  display: block;
}

.profilemetacontent {
  padding: .75rem;
  overflow: hidden;
}

.profilemetaleft,
.tweetleft {
  float: left;
}

.profileiconlink {
  cursor: default;
}

.profilemetaright {
  float: right;
  width: calc(100% - 3.75rem);
}

.profiletext {
  font-size: .875rem;
}

.tweetright {
  float: right;
  width: calc(100% - 3.75rem);
}

.tweeticon {
  border-radius: .25rem;
  width: 3rem;
  height: 3rem;
}

.js-display-url {
  word-break: break-all;
}

.tweettext {
  white-space: pre-wrap;
}

.fattweet .tweettext {
  margin-top: .75rem;
  font-size: 1.125rem;
  color: #333;
  font-weight: lighter;
}

.names,
.profiletext,
.profilelocation,
.profileurl,
.fattweet .tweettext,
.fattweet .quotedtext {
  -webkit-user-select: text;
  user-select: text;
}

.quotedtext {
  white-space: pre-wrap;
}

.tweetmeta {
  white-space: nowrap;
  line-height: 1rem;
  overflow: hidden;
  position: relative;
  height: 1rem;
  overflow: hidden;
}

.fattweetbottommeta {
  margin-top: .75rem;
  color: #999;
  text-transform: uppercase;
}

.tweetactions {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all .2s;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.fattweetactions {
  margin: .75rem 0 0 0;
  padding: 0;
  list-style: none;
  transition: all .2s;
}

.tweetaction {
  display: inline-block;
  margin-left: .85rem;
}

.fattweetaction {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.tweetbutton {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  height: 1rem;
}

.tweetbuttonicon:empty:before {
  font-size: .75rem;
  transition: all .2s;
  line-height: 1rem;
}

.tweetindicator:empty:before {
  color: #fc2;
  text-shadow: 0 0 1px #ccc;
}

.fattweet .tweetbuttonicon:empty:before {
  font-size: 1.125rem;
  color: #333;
}

.tweetbutton:hover .tweetbuttonicon:empty:before {
  color: #6ac;
}

.disabledbutton {
  cursor: default;
}

.disabledbutton .tweetbuttonicon:empty:before,
.disabledbutton:hover .tweetbuttonicon:empty:before {
  color: #ccc;
}

.activetweetbutton .tweetbuttonicon:empty:before,
.activetweetbutton:hover .tweetbuttonicon:empty:before {
  color: #07f;
}

.tweetmetaleft .name,
.quotedmeta .name {
  color: #333;
  font-weight: bold;
}

.tweetmetaleft .screenname,
.quotedmeta .screenname {
  color: #999;
  font-size: 0.6875rem;
}

.fattweetmetaleft,
.fattweetmetaright {
  display: inline-block;
  vertical-align: middle;
}

.fattweetmetaright {
  margin-left: .5rem;
}

.fattweetmetaright .name {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.fattweetmetaright .screenname {
  color: #999;
  font-size: .875rem;
}

.tweetmetaleft {
  width: calc(100% - 2rem);
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.tweetmetaright {
  text-align: right;
  color: #999;
  font-size: 0.6875rem;
  display: inline-block;
  height: 1rem;
  overflow: hidden;
  width: 2rem;
}

.tweettime {
  background-color: #fff;
}

.tweetindicator {
  background-color: #fff;
}

.fattweettime {
  /*margin-top: .75rem;*/

}

.fattweetretweet {
  color: #666;
  line-height: 1rem;
  margin-top: .75rem;
}

.tweetretweet {
  color: #666;
  line-height: 1rem;
  margin-top: .125rem;
}

.retweeticon {
  float: left;
  margin-right: .1875rem;
  margin-top: .0625rem;
  height: 1rem;
  width: 1rem;
}

.quotedtweet {
  padding: .375rem;
  margin-top: .375rem;
  background-color: #f0f0f0;
  border-radius: .25rem;
  color: #333;
}

.tweetimagelist {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.tweetimagebox {
  height: 9rem;
  margin-top: .75rem;
  overflow: hidden;
  float: left;
}

.tweetimagelink {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  background-size: cover;
  background-position: center;
}

.headernav {
  width: 100%;
  overflow:hidden;
  padding: .75rem;
  border-bottom: .1rem solid #ccc;
  background-color: #f6f6f6;
}

.headeractions {
  float: left;
  height: 1.25rem;
}

.headeractions .navicon {
  float: left;
  margin-right: .75rem;
}

.nav {
  float: right;
  height: 1.25rem;
}

.navlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav .navicon {
  float: left;
  margin-left: .75rem;
}

.navbutton {
  background: none;
  border: none;
  outline: none;
  transition: all .2s;
  height: 1.25rem;
}

.logobutton {
  cursor: default;
}

.navbutton:hover {
  color: #6ac;
}

.activenavbutton,
.activenavbutton:hover {
  color: #08F;
  cursor: default;
}

.unreadmark {
  display: inline-block;
  font-size: .625rem;
  background-color: #39D;
  border-radius: 100%;
  opacity: .85;
  position: relative;
  left: -.25rem;
  top: .25rem;
  height: .75rem;
  width: .75rem;
}

.newtweet {
  -webkit-animation: fadeIn .2s;
}

.newtweettext {
  height: calc(100vh - 2.75rem);
  position: relative;
  word-break: break-all;
  overflow: auto;
}

.newrawtweet {
  white-space: pre-wrap;
  display: table;
  width: 100%;
  background-color: transparent;
  border: none;
  min-height: 100%;
  font-size: .75rem;
  padding: .75rem;
  resize: none;
  outline: none;
  -webkit-text-fill-color: transparent;
}

.newformattedtweet {
  white-space: pre-wrap;
  width: 100%;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: .75rem;
  padding: .75rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.newtweetmeta {
  background-color: #f4f7f9;
  height: 2.75rem;
  text-align: right;
  padding: 0 .75rem;
  border-top: 1px solid #ddd;
}

.remaining {
  font-size: .75rem;
  padding: 0 .75rem;
  line-height: 2.75rem;
  color: #aaa;
}

.newtweetbutton {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: .25rem;
  text-align: center;
  padding: .5rem .75rem;
  font-size: .75rem;
  color: #aaa;
  outline: none;
  transition: all .1s;
  cursor: default;
}

.activenewtweetbutton {
  color: #fff;
  background-color: #69c;
  cursor: pointer;
}

.iconic-property-fill, .iconic-property-text {stroke: none !important;}
.iconic-property-stroke {fill: none !important;}
svg.iconic.iconic-fluid {height:100% !important;width:100% !important;}
svg.iconic.iconic-sm:not(.iconic-size-md):not(.iconic-size-lg), svg.iconic.iconic-size-sm{width:16px;height:16px;}
svg.iconic-sm > g.iconic-md, svg.iconic-sm > g.iconic-lg, svg.iconic-md > g.iconic-sm, svg.iconic-md > g.iconic-lg, svg.iconic-lg > g.iconic-sm, svg.iconic-lg > g.iconic-md {display: none;}
svg.iconic.iconic-icon-sm > g.iconic-lg, svg.iconic.iconic-icon-md > g.iconic-lg {display:none;}
svg.iconic-sm:not(.iconic-icon-md):not(.iconic-icon-lg) > g.iconic-sm, svg.iconic-md.iconic-icon-sm > g.iconic-sm, svg.iconic-lg.iconic-icon-sm > g.iconic-sm {display:inline;}
