.loader {
  text-align: center;
  margin-top: .75rem;
  transition: all 1s;
}

.ball-clip-rotate > div {
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  border: 2px solid #000;
  border-bottom-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent !important;
  display: inline-block;
  -webkit-animation: rotate 0.75s 0s linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}

.timelines .timeline {
  height: calc(100vh - 3rem);
  overflow: auto;
}

.tweets.timeline {
  padding-bottom: 3rem;
}



.tweets, .thread {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
