<!DOCTYPE html>
<html>
  <head>
    <title>New Tweet</title><meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/composer.css" />
  </head>
  <body>
    <div id="content" @dragenter="disable" @dragover="disable" @drop="drop">
      <div class="newtweet">
        <section class="newtweettext">
          <textarea class="newrawtweet" @keyup.esc="escape" @input="updateTweet" v-model="rawTweet" lazy autofocus="true"></textarea>
          <section class="newformattedtweet" v-html="formattedTweet"></section>
        </section>
        <section class="newtweetmedia" v-if="mediaPaths.length">
          <div class="newtweetmediacolumn" v-if="mediaType ==='image'" v-for="path in mediaPaths" track-by="$index">
            <img :src="'file://' + path" />
          </div>
          <div class="newtweetmediacolumn" v-if="mediaType ==='video' && mediaPaths.length === 1">
            <video :src="mediaPaths[0]" muted="true" controls="true" loop="true" autoplay="true"></video>
          </div>
        </section>
        <section class="newtweetmessage" v-if="message">
          <span v-text="message"></span>
        </section>
        <section class="newtweetmeta">
          <img :src="composer.biggerIcon" class="composericon" @click="showSwitches" />
          <div class="newtweetmetacolumn mediacolumn">
            <input type="file" id="fileElem" accept="image/jpeg,image/gif,image/png,image/gif,video/mp4,image/webp,.png,.jpg,.jpeg,.webp,.gif,.mp4" style="display:none" @change="inputFile">
            <button class="newmediabutton" @click="addMedia">Add Media</button>
          </div>
          <div class="newtweetmetacolumn remainingcolumn"><span class="remaining" v-text="remainingLength"></span></div>
          <div class="newtweetmetacolumn"><button class="newtweetbutton" :class="{ active: isValid }" @click="sendTweet">Tweet</button></div>
        </section>
        <div class="switches" v-if="showingSwitches" @click="dismiss">
          <ul class="switchlist">
            <li class="switch" v-for="account in switchUsers" @click="switchUser(account.screenname)">
              <img class="icon" :src="account.biggerIcon" :title="account.screenname" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/composer.js"></script>
  </body>
</html>
