<html>
  <head>
    <title>DTCP</title><meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/iconic-glyphs.css" />
    <link rel="stylesheet" href="css/loaders.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
  </head>
  <body>
    <div id="content">
      <header class="headernav">
        <section class="headeractions">
          <ul class="navlist">
            <li class="navicon">
              <button class="navbutton" v-on="click: compose"><span class="iconic" data-glyph="pencil"></span></button>
            </li>
          </ul>
        </section>
        <nav class="nav">
          <ul class="navlist">
            <li class="navicon" v-if="nest">
              <button class="navbutton" v-on="click: back"><span class="iconic" data-glyph="carriage-return"></span></button>
            </li>
            <li class="navicon">
              <button class="navbutton" v-on="click: changeTimeline('home')"><span class="iconic" data-glyph="home"></span></button>
            </li>
            <li class="navicon">
              <button class="navbutton" v-on="click: changeTimeline('mentions')"><span class="iconic" data-glyph="people"></span></button>
            </li>
          </ul>
        </nav>
      </header>
      <section class="components">
        <component is="{{currentView}}" class="timelines" keep-alive></component>
        <component is="{{currentNest}}" class="nestcontainer" v-if="nest"></component>
      </section>
    </div>
    <script src="../view/timelines.js"></script>
  </body>
</html>