<html>
  <head>
    <title>DTCP</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/iconic-glyphs.css" />
    <link rel="stylesheet" href="css/bundle.css" />
  </head>
  <body>
    <div id="content">
      <header class="pageheader">
        <section class="switchbutton">
          <ul class="navlist">
            <li class="navicon" :class="{ unread: unreadFromOtherUser }">
              <img :src="bundle[screenname].users[screenname].biggerIcon" v-if="bundle[screenname]" class="usericon" @click="showSwitches" />
            </li>
          </ul>
        </section>
        <nav class="nav">
          <ul class="navlist">
            <li class="navicon" v-if="frames.length > 1">
              <button class="navbutton" @click="back"><span class="iconic" data-glyph="carriage-return"></span></button>
            </li>
            <li class="navicon" :class="{ active: topFrame.view === 'home', unread: bundle[screenname] && bundle[screenname].unread.home > 0 }">
              <button class="navbutton" @click="changeTimeline('home')"><span class="iconic" data-glyph="home"></span></button>
            </li>
            <li class="navicon" :class="{ active: topFrame.view === 'mentions', unread: bundle[screenname] && bundle[screenname].unread.mentions > 0 }">
              <button class="navbutton" @click="changeTimeline('mentions')"><span class="iconic" data-glyph="chat"></span></button>
            </li>
            <li class="navicon" :class="{ active: topFrame.view === 'messages', unread: bundle[screenname] && bundle[screenname].unread.messages > 0 }">
              <button class="navbutton" @click="changeTimeline('messages')"><span class="iconic" data-glyph="envelope-closed"></span></button>
            </li>
            <li class="navicon" :class="{ active: (topFrame.view === 'profile' && topFrame.profile && topFrame.profile.screenname === screenname) }">
              <button class="navbutton" @click="changeTimeline('user')"><span class="iconic" data-glyph="person"></span></button>
            </li>
            <li class="navicon">
              <button class="navbutton" @click="compose(screenname)"><span class="iconic" data-glyph="pencil"></span></button>
            </li>
          </ul>
        </nav>
      </header>
      <component is="frames" :frames.sync="frames" :screenname="screenname" :now="now"></component>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
