<!DOCTYPE html>
<html>
  <head>
    <title>New Tweet</title><meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/composer.css" />
  </head>
  <body>
    <div id="content">
      <div class="newtweet">
        <section class="newtweettext">
          <textarea class="newrawtweet" @keyup.esc="escape" @input="updateTweet" v-model="rawTweet" lazy autofocus="true"></textarea>
          <section class="newformattedtweet" v-html="formattedTweet"></section>
        </section>
        <section class="newtweetmeta">
          <img :src="composer.biggerIcon" class="composericon" @click="showSwitches" />
          <span class="remaining" v-text="remainingLength"></span>
          <button class="newtweetbutton" :class="{ active: isValid }" @click="sendTweet">Tweet</button>
        </section>
        <div class="switches" v-if="showingSwitches" @click="dismiss">
          <ul class="switchlist">
            <li class="switch" v-for="account in switchUsers" @click="switchUser(account.screenname)">
              <img class="icon" :src="account.biggerIcon" :title="account.screenname" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="../view/newTweet.js"></script>
  </body>
</html>
