<html>
  <head>
    <title>DTCP</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/iconic-glyphs.css" />
    <link rel="stylesheet" href="css/preferences.css" />
  </head>
  <body>
    <div id="content">
      <h1>Preferences</h1>
      <section class="description">
        <p>Restart the application to see changes.</p>
      </section>
      <hr />
      <section class="size">
        <header>
          <h2 class="title">Font Size</h2>
        </header>
        <section class="form">
          <input type="range" class="fontsize" v-model="fontSize" min="14" max="32" />
          <span class="fontsizevalue">{{ fontSize }}</span>
        </section>
      </section>
      <hr />
      <section class="proxy">
        <header>
          <h2 class="title">SOCKS5 Proxy</h2>
          <div class="corner">
            <div class="onoffswitch">
              <input type="checkbox" name="proxy" class="onoffswitch-checkbox" id="proxyswitch" v-model="useProxy">
              <label class="onoffswitch-label" for="proxyswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </header>
        <section class="form">
          <input type="text" class="proxyhost" placeholder="Host" v-model="proxyHost" />
          <input type="text" class="proxyport" placeholder="Port" v-model="proxyPort" />
        </section>
      </section>
      <section class="save">
        <button :class="{ active: changed }" class="savebutton" @click="save">Save</button>
      </section>
    </div>
    <script src="js/preferences.js"></script>
  </body>
</html>
