<html>
  <head>
    <title>DTCP</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/iconic-glyphs.css" />
    <link rel="stylesheet" href="css/viewer.css" />
  </head>
  <body>
    <div id="content">
      <div class="square-spin" v-if="!currentView">
        <div></div>
      </div>
      <div class="media" v-if="currentView">
        <img :src="currentView" />
      </div>
    </div>
    <script src="js/viewer.js"></script>
  </body>
</html>
